<div
  class="upload-box"
  (drop)="onFileDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
>
  <p>Ziehe hier deine MP3- oder WAV-Dateien hinein oder</p>
  <input
    type="file"
    id="fileInput"
    hidden
    (change)="onFileSelected($event)"
    accept=".mp3, .wav"
  />
  <label for="fileInput">
    <button mat-raised-button color="accent" (click)="openFileSelector()">
      <mat-icon>cloud_upload</mat-icon>
      Dateien auswählen
    </button>
  </label>
</div>
